.sectionWrapper {
  @apply flex flex-wrap justify-center gap-open-gutter-mobile tablet:gap-open-gutter-desktop desktop:gap-open-gutter-desktop grow py-open-xl tablet:py-open-5xl desktop:py-open-5xl;
}

.downloadWrapper {
  @apply flex flex-col gap-open-sm items-center;
}

.downloadText {
  @apply -text--openfoundation-primary font-open-paragraph text-open-font-small tablet:text-open-font-medium desktop:text-open-font-medium;
}

.cardWrapper {
  @apply border -border--open-gray-300 rounded-[20px] px-open-2xl py-open-2xl tablet:py-open-4xl desktop:py-open-4xl flex-1;
}

.cardContainer {
  @apply flex flex-col gap-open-gutter-mobile tablet:gap-open-gutter-desktop desktop:gap-open-gutter-desktop min-w-[248px];
}

.cardInner {
  @apply flex flex-col-reverse gap-open-xl;
}

.cardTitle {
  @apply -text--openfoundation-primary font-open-label text-open-font-large tablet:text-open-font-xxl desktop:text-open-font-xxl;
}

.cardCategoryText {
  @apply -text--open-gray-600 font-open-paragraph text-open-font-medium tablet:text-open-font-xl desktop:text-open-font-xl;
}

.cardLinkWrapper {
  @apply flex justify-end;
}

.iconStyle {
  @apply w-6 h-6 tablet:w-9 tablet:h-9 desktop:w-9 desktop:h-9;
}
