.titleWrapper {
  @apply flex flex-col gap-open-xl tablet:gap-open-2xl desktop:gap-open-2xl text-center my-[60px] tablet:my-open-6xl desktop:my-open-6xl;
}

.titleCategory {
  @apply -text--openfoundation-primary font-open-label text-open-font-large tablet:text-open-font-xxl desktop:text-open-font-xxl;
}

.titleText {
  @apply -text--openfoundation-primary font-open-heading text-open-font-xxl tablet:text-open-font-xxxxl desktop:text-open-font-xxxxl;
}

.sectionWrapper {
  @apply flex flex-wrap justify-center gap-open-gutter-mobile tablet:gap-open-gutter-desktop desktop:gap-open-gutter-desktop grow m-open-xl tablet:m-open-5xl desktop:m-open-5xl;
}

.downloadWrapper {
  @apply flex flex-col gap-open-sm items-center;
}

.downloadText {
  @apply -text--openfoundation-primary font-open-paragraph text-open-font-small tablet:text-open-font-medium desktop:text-open-font-medium;
}

.cardWrapper {
  @apply border -border--open-gray-300 rounded-[20px] px-open-2xl py-open-2xl tablet:py-open-4xl desktop:py-open-4xl tablet:grow desktop:grow;
}

.cardContainer {
  @apply w-open-6xl tablet:w-full desktop:w-full h-[170px] tablet:h-[340px] desktop:h-[340px] flex flex-col justify-between;
}

.cardInner {
  @apply flex flex-col-reverse gap-open-xl;
}

.cardTitle {
  @apply -text--openfoundation-primary font-open-label text-open-font-large tablet:text-open-font-xxl desktop:text-open-font-xxl;
}

.cardCategoryText {
  @apply -text--open-gray-600 font-open-paragraph text-open-font-medium tablet:text-open-font-xl desktop:text-open-font-xl;
}

.cardLinkWrapper {
  @apply flex justify-end;
}

.iconStyle {
  @apply w-6 h-6 tablet:w-9 tablet:h-9 desktop:w-9 desktop:h-9;
}
