.partnerSwiper > div {
  @apply relative ease-linear;
}
.home {
  @apply mb-open-5xl w-full h-full;

  & .black {
    @apply w-full h-full px-open-gutter-mobile -bg--openfoundation-black;
    @apply desktop:px-open-margin-desktop tablet:px-open-margin-desktop;
  }

  & .white {
    @apply w-full h-full -bg--openfoundation-white;
  }

  & .slogan {
    @apply w-full h-screen relative items-center justify-center  -bg--openfoundation-black overflow-hidden mx-auto z-10 object-fill;

    & .wrapper {
      @apply w-full flex flex-col items-center gap-open-xl absolute top-1/2 max-w-[1320px] -translate-y-1/3 left-1/2 -translate-x-1/2 px-open-gutter-mobile desktop:px-0;
      @apply tablet:items-stretch desktop:items-stretch tablet:gap-open-3xl desktop:gap-open-3xl z-20;

      & .title {
        @apply block text-center -text--openfoundation-white font-open-heading text-open-font-xxxl;
        @apply tablet:text-start desktop:text-start tablet:text-open-font-xxxxxl desktop:text-open-font-xxxxxl;

        & .gradient {
          @apply inline-block
          bg-clip-text
        text-transparent bg-gradient-to-r -from--open-accent-accent-1 -to--open-accent-accent-2;
        }
      }
      & .subtitle {
        @apply flex flex-col items-start justify-start;
        @apply -text--openfoundation-white  font-open-paragraph text-open-font-medium;
        @apply tablet:text-open-font-xl desktop:text-open-font-xl;
      }
    }
  }
  & .universe {
    @apply flex flex-col justify-center items-center py-open-4xl  gap-open-4xl -bg--openfoundation-black bg-cover px-open-gutter-mobile;
    @apply tablet:py-open-5xl desktop:py-open-5xl tablet:gap-open-5xl desktop:gap-open-5xl;

    & .titleWrapper {
      @apply flex flex-col items-center -text--openfoundation-white gap-open-lg;
      @apply tablet:gap-open-xl desktop:gap-open-xl;

      & .subtitle {
        @apply font-open-highlight text-open-font-large;
        @apply tablet:text-open-font-xxl desktop:text-open-font-xxl;
      }
      & .title {
        @apply font-open-heading text-open-font-xxl;
        @apply tablet:text-open-font-xxxxl desktop:text-open-font-xxxxl;
      }
    }
  }
  & .solutions {
    @apply hidden mx-auto flex-col items-center  gap-open-5xl pt-open-6xl -text--openfoundation-white max-w-[1320px];
    @apply tablet:flex desktop:flex tablet:pt-open-7xl desktop:pt-open-7xl;

    & .title {
      @apply font-open-heading text-open-font-xl;
      @apply tablet:text-open-font-xxl desktop:text-open-font-xxl;
    }

    & .ul {
      @apply flex justify-center items-center gap-open-lg;
      @apply font-open-highlight text-open-font-small;
      @apply tablet:text-open-font-medium desktop:text-open-font-medium;

      & .button {
        @apply px-open-gutter-mobile py-open-sm rounded-3xl;
      }
    }

    & .listWrapper {
      @apply w-full flex justify-between gap-open-4xl tablet:gap-open-2xl;

      & .description {
        @apply min-w-[330px] w-[330px] tablet:min-w-[280px] tablet:w-[280px] flex flex-col items-start gap-open-3xl;

        & .title {
          @apply font-open-heading  text-open-font-xl;
          @apply tablet:text-open-font-xxxl desktop:text-open-font-xxxl;
        }
        & .summary {
          @apply font-open-paragraph text-open-font-medium;
          @apply tablet:text-open-font-large desktop:text-open-font-large;
        }
        & .more {
          @apply font-open-label text-open-font-medium;
          @apply tablet:text-open-font-large desktop:text-open-font-large;
        }
      }
      & .image {
        @apply object-cover border-none;
      }
    }
  }
  & .products {
    @apply w-full flex flex-col items-center px-open-gutter-mobile py-open-5xl  mx-auto gap-open-2xl  max-w-[1320px];
    @apply -text--openfoundation-white;
    @apply tablet:items-stretch desktop:items-stretch tablet:gap-open-4xl desktop:gap-open-4xl tablet:py-open-7xl desktop:py-open-7xl;

    & .title {
      @apply font-open-heading text-start text-open-font-xl;
      @apply tablet:text-open-font-xxl desktop:text-open-font-xxl;
    }

    & .summaryWrapper {
      @apply w-full flex justify-center max-w-[1320px];
      @apply tablet:justify-between desktop:justify-between;

      & .main {
        @apply text-center  font-open-heading text-open-font-xxxl inline-block
          bg-clip-text
        text-transparent bg-gradient-to-r -from--open-accent-accent-1 -to--open-accent-accent-2;
        @apply tablet:text-left desktop:text-left;
      }

      & .sub {
        @apply hidden  flex-col font-open-label text-end text-open-font-medium;
        @apply tablet:flex desktop:flex tablet:text-open-font-xl desktop:text-open-font-xl;
      }
    }

    & .cardContainer {
      @apply w-full flex flex-col gap-open-gutter-mobile;
      @apply tablet:gap-open-2xl desktop:gap-open-2xl;

      & .cardWrapper {
        @apply w-full flex flex-1 justify-between items-center gap-open-4xl p-open-2xl tablet:h-[400px] desktop:h-[400px] -bg--open-gray-950 rounded-[30px] border-2 border-transparent;

        @apply tablet:p-open-4xl desktop:px-open-5xl desktop:py-open-4xl z-10 pointerhover:hover:-border--open-accent-accent active:-border--open-accent-accent;

        & .summaryWrapper {
          @apply flex flex-col items-center gap-open-xl;
          @apply tablet:items-start desktop:items-start;
          & .mainKeyword {
            @apply flex gap-open-sm font-open-label text-open-font-xxl;
            @apply tablet:flex-col desktop:flex-col tablet:text-open-font-xxxxl desktop:text-open-font-xxxxl;
          }
          & .subWrapper {
            @apply flex flex-col items-center gap-open-lg;
            @apply tablet:items-start desktop:items-start;

            & .subKeyword {
              @apply font-open-paragraph text-open-font-medium;
              @apply tablet:text-open-font-large desktop:text-open-font-large;
            }

            & .button {
              @apply font-open-label text-open-font-small;
              @apply tablet:text-open-font-medium desktop:text-open-font-medium;
            }
          }
        }
        & .imageWrapper {
          @apply w-full hidden  text-center -text--openfoundation-secondary;
          @apply tablet:block tablet:w-[300px] desktop:block desktop:w-[400px];
        }
        & .image {
          @apply w-full hidden  text-center -text--openfoundation-secondary;
          @apply tablet:block tablet:w-[300px] desktop:block desktop:w-[400px];
        }
      }
    }
  }

  & .industry {
    @apply w-full flex flex-col mx-auto px-open-margin-mobile  gap-open-3xl  py-open-5xl  max-w-[1320px];
    @apply tablet:px-open-margin-desktop desktop:px-open-margin-desktop tablet:gap-open-5xl desktop:gap-open-5xl tablet:py-open-7xl desktop:py-open-7xl;

    & .titleWrapper {
      @apply flex flex-col gap-open-3xl;
      @apply tablet:gap-open-5xl desktop:gap-open-5xl;

      & .title {
        @apply -text--openfoundation-black font-open-heading text-start text-open-font-xl;
        @apply tablet:text-open-font-xxl desktop:text-open-font-xxl;
      }
      & .mainKeyword {
        @apply flex flex-col  font-open-heading text-open-font-xxl;
        @apply tablet:max-w-full desktop:max-w-full tablet:flex-row desktop:flex-row tablet:text-open-font-xxxxl  desktop:text-open-font-xxxxl;

        & .gradient {
          @apply bg-clip-text
        text-transparent bg-gradient-to-r -from--open-accent-accent-1 -to--open-accent-accent-2;
        }
      }
      & .subKeyword {
        @apply font-open-paragraph text-open-font-medium;
        @apply tablet:text-open-font-xl desktop:text-open-font-xl;
      }
    }

    & .industriesContainer {
      @apply w-full flex flex-wrap flex-col justify-center rounded-l-[30px] overflow-visible;

      & .cardWrapper {
        @apply w-full flex justify-center items-center  grow flex-wrap py-open-xl gap-open-gutter-mobile;
        @apply tablet:items-stretch desktop:items-stretch tablet:py-open-2xl desktop:py-open-2xl  tablet:gap-open-margin-mobile desktop:gap-open-margin-mobile;

        & .card {
          @apply w-full min-w-[270px] max-w-[705px] flex flex-1 flex-col justify-center  flex-wrap bg-cover rounded-[20px] brightness-50 h-[180px]  gap-open-sm   -text--openfoundation-tertiary;
          @apply tablet:justify-normal desktop:justify-normal tablet:h-[360px] desktop:h-[360px] pointerhover:hover:brightness-100 pointerhover:hover:scale-105 pointerhover:hover:z-10 pointerhover:hover:-text--openfoundation-white overflow-visible active:brightness-100 active:scale-105 active:z-10 active:-text--openfoundation-white;

          & .krTitle {
            @apply font-open-paragraph text-open-font-medium;
            @apply tablet:text-open-font-large desktop:text-open-font-large;
          }
          & .enTitle {
            @apply font-open-heading text-open-font-large;
            @apply tablet:text-open-font-xl desktop:text-open-font-xl;
          }
        }
      }
    }
  }

  & .partner {
    @apply w-full flex flex-col py-open-3xl gap-open-2xl;
    @apply tablet:py-open-7xl desktop:py-open-7xl tablet:gap-open-5xl desktop:gap-open-5xl;

    & .titleWrapper {
      @apply w-full flex flex-col mx-auto gap-open-xl px-open-margin-mobile  max-w-[1320px];
      @apply tablet:px-open-margin-desktop desktop:px-open-margin-desktop;

      & .mainKeyword {
        @apply flex flex-col font-open-heading text-open-font-xxl;
        @apply tablet:text-open-font-xxxxl desktop:text-open-font-xxxxl tablet:max-w-full desktop:max-w-full desktop:flex-row;

        & .gradient {
          @apply bg-clip-text
        text-transparent bg-gradient-to-r -from--open-accent-accent-1 -to--open-accent-accent-2;
        }
      }
      & .subKeyword {
        @apply flex flex-col font-open-paragraph text-open-font-medium;
        @apply tablet:text-open-font-xl desktop:text-open-font-xl;
      }
    }
  }
}
