.titleWrapper {
  @apply bg-cover pt-[70px] pb-open-4xl tablet:pt-[160px] tablet:pb-open-7xl desktop:pt-[160px] desktop:pb-open-7xl px-open-margin-mobile tablet:px-open-margin-desktop desktop:px-open-margin-desktop;
}

.titleInner {
  @apply max-w-[1320px] m-auto flex flex-col gap-open-lg tablet:gap-open-xl desktop:gap-open-xl;

  & h2 {
    @apply -text--openfoundation-secondary font-open-label text-open-font-medium tablet:text-open-font-xxl desktop:text-open-font-xxl;
  }

  & p {
    @apply flex flex-col;
  }

  & span {
    @apply -text--openfoundation-secondary font-open-heading text-open-font-xl tablet:text-open-font-xxxl desktop:text-open-font-xxxl;
  }
}
