.section {
  @apply flex justify-center items-center w-full h-full -bg--openfoundation-primary px-open-margin-mobile tablet:px-open-margin-desktop desktop:px-open-margin-desktop;
}

.swiperWrapper {
  @apply w-full h-full flex flex-col font-open-font items-center justify-center  -text--openfoundation-secondary font-open-label max-w-[991px] tablet:max-w-[1311px] desktop:max-w-[1320px] py-open-4xl tablet:py-open-6xl desktop:py-open-6xl gap-open-2xl tablet:gap-open-4xl desktop:gap-open-4xl;
}

.yearSwiper {
  @apply w-full h-full flex flex-col justify-center items-center;

  & .yearSwiperSlide {
    @apply flex flex-col justify-center items-center;
  }

}

.yearSlide {
  @apply flex flex-col justify-end items-center gap-open-lg tablet:gap-open-xl desktop:gap-open-xl;

  &.isActive {
    @apply text-open-font-xl tablet:text-open-font-xxxl desktop:text-open-font-xxxl;
  }

  &.isInActive {
    @apply text-open-font-large tablet:text-open-font-xxxl desktop:text-open-font-xxxl -text--open-gray-300;
  } 
}

.historySwiper {
  @apply w-full h-full flex flex-col justify-center items-center;

  & .historySwiperSlide{
    @apply rounded-[20px];
  }
}

.historySlide {
  @apply w-full h-full flex flex-col items-center justify-start rounded-[20px] px-open-xl tablet:px-open-xl desktop:px-open-2xl py-open-2xl tablet:py-open-4xl desktop:py-open-4xl gap-open-gutter-mobile tablet:gap-open-gutter-desktop desktop:gap-open-gutter-desktop;
  
  &.isActive {
    @apply -bg--open-gray-950;
  } 

  &.isInActive {
    @apply -bg--openfoundation-black;
  } 

  & .historySlideTitle {
    @apply block text-center text-open-font-xxl tablet:text-open-font-xxxl desktop:text-open-font-xxxxl;
  }

  & .historySlideDescription {
    @apply pl-open-xl tablet:pl-open-2xl desktop:pl-open-2xl list-disc font-open-paragraph text-open-font-medium tablet:text-open-font-large desktop:text-open-font-xl flex flex-col gap-open-lg;
  }
}

